.search {
  position: relative;
}

.input {
  width: 100%;
  padding-right: 50px;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 7px;
  height: auto;
  font-size: 0;
  line-height: 0;
}
